@font-face {
    font-family: "Rustica";
    src: url("fonts/Rustico-Regular.otf") format("opentype");
    }

    * { margin: 0; padding: 0; }
    body { font: 15px Helvetica, Sans-Serif; line-height: 20px; background: rgb(220, 220, 220); background-image:url(images/set-01-pattern-15.png); }
    .clear { clear: both; }
    #page-wrap { width: 800px; margin: 40px auto 60px; }
    #pic { float: right; margin: -30px 0 0 0; }
    h1 { margin: 0 0 34px 0; padding: 0 0 34px 0; font-family: 'Rustica'; font-size: 65px; font-weight: normal; color: rgb(0, 0, 0); letter-spacing: -2px; border-bottom: 1px solid rgb(0, 4, 44); }
    h2 { font-size: 16px; margin: 0 0 6px 0; position: relative; }
    h2 span { position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: rgb(75, 75, 75); font-weight: normal; }
    p { margin: 0 0 16px 0; }
    a { color: rgb(2, 46, 80); text-decoration: none; border-bottom: 1px dotted rgb(0, 4, 44); }
    a:hover { border-bottom-style: solid; color: rgb(0, 4, 44); }
    ul { margin: 0 0 32px 17px; }
    #objective { width: 500px; float: left; }
    #objective p { font-family: Helvetica, Serif; font-style: italic; font-weight: bold; color: rgb(0, 4, 44); }
    dt { font-weight: bold; font-size: 17px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid rgb(0, 4, 44);  }
    dd { width: 600px; float: right; }
    dd.clear { float: none; margin: 0; height: 15px; }
